<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Pagina de Inicio</title>
</head>
<body>

    {%if not user.is_authenticated%}
    <div class="session_links">
        <a href="{%url 'register'%}">Registrarse</a>
        <a href="{%url 'login'%}">Iniciar Sesión</a>
    </div>
    {%endif%}
    {%if user.is_authenticated%}
        <div class="user_menu">
            <button>{{user.username}}</button>
            <div class="dropdown">
                <a href="#">Mi biblioteca</a>
                <a href="{%url 'change_username'%}">Cambiar usuario</a>
                <a href="{%url 'password_change'%}">Cambiar contraseña</a>
                <a href="{%url 'delete'%}">Borrar cuenta</a>

                <form action="{%url 'logout'%}" method="post">
                    {% csrf_token%}
                    <button type="submit">Cerrar sesión</button>
                </form>
            </div>
        </div>
    {%endif%}

    <form action="{% url 'book_search' %}" method="get">
        <input 
        type="text"
        name="query"
        id="books-search"
        placeholder="Busqueda"
        autocomplete="off"
        >
        <button type="submit">Buscar</button>
    </form>
    <div id="suggestions"></div>
    <script>
        const searchInput = document.getElementById('books-search');
        const suggestions = document.getElementById('suggestions');

        let timer;

        searchInput.addEventListener('input',function(){
            clearTimeout(timer);

            const query = searchInput.value.trim();

            if (query.length < 3) {
                suggestions.innerHTML = ''
                return;
            }
            
            timer = setTimeout(function(){
                fetch(`/suggestions/?query=${encodeURIComponent(query)}`)
                .then(Response=>Response.json())
                .then(data=>{

                    suggestions.innerHTML = '';

                    for (const book of data.books) {
                        const div = document.createElement('div');
                        div.innerHTML = `
                        <form method="get" action="{% url 'book_detail'%}">
                            <input type="hidden" name="book_id" value="${book.id}">
                            <button type='submit'>

                                <img src="${book.thumbnail}" width="50">
                                <span>${book.title}</span>

                            </button>

                        </form>
                        `;

                        suggestions.appendChild(div);
                        
                    }
                });
            },400);
        });
    </script>
</body>
</html>